
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css"; 

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  box-sizing: border-box;
}
/* UTILITY CLASSES */
.center-div {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
a {
  font-weight: 500;
  color: #2756bd;
}
a:hover {
  color: #2756bdd3;
  text-decoration: underline;
}

body {
  margin: 0;
  /* max-width: 90vw; */
  /* margin: auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  text-align: center;
}
#logo {
  width: 70px;
  height: 70px;
}
header{
  margin: auto;
  padding: 10px;
  width: 80%;
  
}
header a {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
}
.logo {
  color: #2756bd;
}
.logo span {
  color: #a90f0b;
}
nav {
  gap: 10px;
}
.active {
  color: #a90f0b;
  text-decoration: underline;
  font-weight: 600;
}
/*********HERO*************/
.hero {
  margin: auto;
  padding: 20px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #fff;
  background-image: url('./assets/mpc.jpg');
  background-size: cover;
  object-fit: scale-down;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  gap: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.overlay {
  margin: auto;
  width: 100%;
  height: 100%;
  /* border-radius: 10px; */
  background-color: #00000075;
  position: absolute;
  top: 0;
  left: 0;
}

.hero .left {
  height: 100%;
  max-height: 300px;
  /* flex: 1; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* gap: 10px; */
  border: 1px solid #ff7e5f;
  z-index: 4;
}

.hero .left {
  /* margin-left: 20px; */
  backdrop-filter: blur(2px);
  background: rgba(100, 100, 100, 0.15); /* Glass effect */
  padding: 15px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* text-transform: uppercase; */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  /* border-left: 5px solid #a90f0b; */
}
.left h4 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1.4;
  color: #fff;
}

.left h5 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0;
  letter-spacing: 0.5px;
  color: #ddd;
  border-top: 1px solid #777;
}

.hero .left:hover {
  background: rgba(100, 100, 100, 0.25);
  transform: scale(1.05);
}

.hero .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 20px;
  z-index: 3;
}

.buying {
  margin-top: 20px;
  border-top: 5px solid #ff7e5f; /* Green border for buying */
  border-left: 5px solid #ff7e5f; /* Green border for buying */
}

.selling {
  margin-bottom: 20px;
  border-left: 5px solid #a9100bbb; /* Red border for selling */
}

.land-inquiry {
  /* position: absolute; */
  /* top: 20px; */
  /* right: 20px; */
  background: linear-gradient(135deg,#a9100bbb, #ff7e5f); /* Vibrant gradient */
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  width: 320px;
  height: 300px;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.land-inquiry-mobile {
  display: none;
}
.land-inquiry h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.land-inquiry p {
  font-size: 1rem;
  margin-top: 8px;
  line-height: 1.4;
}

.leads-text {
  font-style: italic;
  font-weight: bold;
  color: #fff4e6;
}

.contact-btn {
  margin-top: 14px;
  background: #ffffff;
  color: #ff7e5f;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.contact-btn:hover {
  background: #ff5733;
  color: white;
  transform: scale(1.05);
}


/*******FEATURED************/
.featured {
  margin: auto;
  padding: 20px;
  text-align: center;
  width: 70%;
}
.featured > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.property{
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  line-height: 1.6rem;
  border: 1px solid #ececec;
}
.property > img {
  width: 100%;
}

.enquire-btn {
  background-color: #2756bd;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enquire-btn:hover {
  background-color: #1e4297;
}



/* Responsive Design */
@media (max-width: 768px) {
  .featured {
      flex-direction: column;
      text-align: center;
  }

  .featured-details, .featured-photos {
      flex: 1 1 100%;
      padding: 10px;
  }

  .featured h2 {
      font-size: 2rem;
  }

  .featured h3 {
      font-size: 1.5rem;
  }

  .featured h4 {
      font-size: 1.2rem;
  }

  .featured p {
      font-size: 1rem;
  }

  .enquire-button {
      width: 100%;
      padding: 15px;
  }
}


.service {
  width: 300px;
  height: 250px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ececec;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.services {
  margin: 20px auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  
}
.service > img {
  /* border: 1/px solid #141414; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.about-us {
  text-align: left;
  padding: 10px;
  font-size: 1.3rem;
  line-height: 2rem;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  gap: 20px;
}
.about-left {
  flex: 1;
}
.about-right {
  flex: 1;
}
.about-right > img{
  width: 100%;
}
footer {
  width: 100vw;
  padding: 20px;
  background-color:  #141414;
  color: #fff;
  line-height: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: left;
}
footer img {
  width: 100px;
}

/* LISTINGS */
.listings-hero {
  padding: 10px;
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url('./assets/mpc.jpg');
  background-position: center 75%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.listings-hero h1 {
  font-size: 3rem;
  color: #2756bd;
}
.listings-container {
  margin: 5rem auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

}
.listing {
  display: flex;
  flex-direction: column;
  width: 250px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1),
              0px 8px 20px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 5px;
  overflow: hidden;

}
.listing:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12),
              0px 12px 24px rgba(0, 0, 0, 0.08);
}
.listing > img {
  width: 100%;
}
.property-description {
  padding: 10px;
  text-align: center;
}
.property-description > button {
  margin: 10px;
  font-size: 1.2rem;
  padding: 5px 20px;
  background-color: #fff;
  border: 1px solid #a90f0b;
  border-radius: 20px;
}
.property-description > button:hover {
  color: #fff;
  background-color: #a90f0b;
}




/* Smartphones (up to 480px) */
@media only screen and (max-width: 480px) {
  .about-us {
    flex-direction: column;
    font-size: 1rem;
  }
  /* .land-inquiry {
    display: none;
  } */
  .hero .left{
    height: 200px;
  }
  .featured > div {
    justify-content: center;
  }
  footer{
    justify-content: center;
  }

  .hero {
    height: 500px;
    gap:5px
  }
  .hero .left {
    padding: 10px;
    text-align: center;
  }
  .left h4 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
  }
  
  .left h5 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  .land-inquiry {
    padding: 15px;
    width: 320px;
    height: 230px;
  }
  .land-inquiry h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .land-inquiry p {
    font-size: 1rem;
    margin-top: 8px;
    line-height: 1.2;
  }

}

/* Small devices (portrait tablets and large phones, 481px - 767px) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .about-us {
    flex-direction: column;
  }
  /* .land-inquiry {
    display: none;
  } */
  .hero .left{
    height: 200px;
  }
  .featured > div {
    justify-content: center;
  }
  footer{
    justify-content: center;
  }

  .hero {
    height: 500px;
    gap:5px
  }
  .hero .left {
    padding: 10px;
    text-align: center;
  }
  .left h4 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
  }
  
  .left h5 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  .land-inquiry {
    padding: 15px;
    width: 320px;
    height: 230px;
  }
  .land-inquiry h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .land-inquiry p {
    font-size: 1rem;
    margin-top: 8px;
    line-height: 1.2;
  }
  
  
  

  
}

/* Medium devices (landscape tablets, 768px - 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hero {
    flex-wrap: nowrap;
  }
  .land-inquiry p {
    font-size: 1rem;
    line-height: 1.2;
  }
  
  
  .land-inquiry {
    padding: 10px;
    width: 300px;
    height: 300px;
  }
 
}

/* Large devices (laptops/desktops, 1025px and up) */
@media only screen and (min-width: 1025px) {
  
}







/* Optional for responsiveness */
/* @media only screen and (max-width: 768px) {
  .left {
    padding: 1.2rem;
    margin: 1rem;
    max-width: 100%;
  }

  .left h4 {
    font-size: 1.4rem;
  }

  .left h5 {
    font-size: 0.95rem;
  }
} */
